* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/8.jpg);
    background-size: cover;
}

.container {
    display: flex;
    overflow: overlay;

    max-width: 900px;
    max-height: 800px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
    padding: 1% .5%;
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.45);

}

.container .left-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid antiquewhite;
    position: relative;
    width: 100%;
    padding: 3rem;


}

.container .left-Box .logo-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.container .left-Box .logo {
    width: 12rem;
    height: 12rem;

    background-image: url(/logo.JPG);
    background-size: cover;
    border-radius: 50%;


}

.container .left-Box .header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.container .left-Box .header1 span {
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
    font-weight: 650;


}

.container .left-Box .small-Info {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;

}

.container .left-Box .small-Info span {
    font-size: medium;
    color: antiquewhite;
    padding-left: 10px;
}

.container .left-Box .entryarea {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;



}

.container .left-Box .entryarea .username-Box {
    display: flex;

}

.container .left-Box .entryarea .password-Box {
    display: flex;

}

.entryarea input {
    width: 100%;
    height: 45px;
    border: 2px solid antiquewhite;
    background-color: transparent;
    border-radius: 8px;
    padding-left: 10px;
    outline: none;
    color: antiquewhite;
    font-size: large;
    margin-bottom: 2rem;

}

.container .left-Box .entryarea label {
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;


    height: 2.5rem;
    padding-left: 10px;
    color: antiquewhite;
    font-size: large;
    transition: 0.2s ease;



}

.entryarea input:focus~label,
.entryarea input:valid~label {
    color: antiquewhite;
    transform: translate(-10px, -33px) scale(0.80);

}

.container .entryarea .remember {
    display: flex;
    align-items: center;
    color: antiquewhite;
    gap: 10px;
    padding: 0.1rem;
    margin-bottom: 1rem;

}

.container .entryarea .remember input {
    margin: 0;
    width: 15px;
    height: 15px;
}

.container .entryarea .button-Box {

    width: 100%;

}

.container .entryarea .button-Box .login-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    background-color: antiquewhite;
    color: #000;
    width: 100%;
    border: 1px solid #000;
    font-size: larger;
    cursor: pointer;

}

.container .forget-Text {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

}

.container .forget-Text a {
    color: antiquewhite;
    text-decoration: none;
}

.container .forget-Text:hover {
    text-decoration: underline;
    cursor: pointer;

}

.container .newacc-Box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: larger;
    margin-top: 2rem;

}

.container .newacc-Box .createNew {
    padding: 0.6rem;
    font-size: large;
    background-color: antiquewhite;

    border: none;
    border-radius: 16px 0px;

}

.container .newacc-Box .createNew a {
    color: black;
    text-decoration: none;
}

.container .newacc-Box .createNew a:hover {
    text-decoration: underline;

}

.container .right-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    border-left: 2px solid antiquewhite;
    width: 100%;
    padding: 3rem;


}

.container .right-Box .header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    color: white;
    position: absolute;
    top: 10%;
    font-size: x-large;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}

.container .right-Box span {
    width: 100%;
    max-height: 600px;

    color: white;
    font-size: large;
    margin-top: 4rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;

}