* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/8.jpg");
    background-size: cover;
    /*161f47*/
}

.container {
    display: flex;
    overflow: overlay;
    max-width: 900px;
    max-height: 800px;
    width: 100%;
    padding: 1% .5%;
    border-radius: 4rem;
    border-left: 3px solid white;
    border-right: 3px solid white;
    background-color: rgba(0, 0, 0, 0.55);

}

.container .left-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px dashed white; 
    position: relative;
    width: 100%;
    padding: 3rem;


}

.container .left-Box .logo-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.container .left-Box .logo {
    width: 12rem;
    height: 12rem;

    background-image: url(/logo.JPG);
    background-size: cover;
    border-radius: 50%;


}

.container .left-Box .header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.container .left-Box .header1 span {
    color: rgb(240, 229, 210);
    font-size: x-large;
    text-align: center;
    font-weight: 650;


}


.container .left-Box .entryarea {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;



}

.container .left-Box .entryarea .username-Box,
.container .left-Box .entryarea .password-Box {
    position: relative;
    display: flex;

}

.password-Box .icon img:hover {
    cursor: pointer;
}

.entryarea input {
    width: 100%;
    height: 45px;
    border: 2px solid rgb(240, 229, 210);
    background-color: transparent;
    border-radius: 8px;
    padding-left: 10px;
    outline: none;
    color: antiquewhite;
    font-size: large;
    margin-bottom: 2rem;

}



.icon {
    position: absolute;
    right: .5rem;
    top: 3px;
    height: 51%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 75%;
}

.container .left-Box .entryarea label {
    display: flex;
    align-items: center;
    justify-content: start;
    position: absolute;
    height: 2.5rem;
    padding-left: 10px;
    color: rgb(240, 229, 210);
    font-size: large;
    transition: 0.2s ease;



}

.entryarea input:focus~label,
.entryarea input:valid~label {
    color: antiquewhite;
    transform: translate(-10px, -33px) scale(0.80);

}

.container .entryarea .remember {
    display: flex;
    align-items: center;
    color: antiquewhite;
    gap: 10px;
    padding: 0.1rem;
    margin-bottom: 1rem;

}

.container .entryarea .remember input {
    margin: 0;
    width: 15px;
    height: 15px;
}

.container .entryarea .button-Box {

    width: 100%;

}

.container .entryarea .button-Box .loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    background-color: #88b916;
    color: white;
    width: 100%;
    border: 1px solid #000;
    font-size: larger;
    cursor: pointer;
    transition: color 1s ease, background-color 1s ease;

}

.container .entryarea .button-Box .loginButton:hover {
    background-color: rgb(240, 229, 210);
    color: #88b916;
}


.container .forget-Text {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

}

.container .forget-Text a {
    color: rgb(240, 229, 210);
    text-decoration: none;
}

.container .forget-Text:hover {
    cursor: pointer;

}

.container .newacc-Box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: larger;
    margin-top: 2rem;

}


.container .newacc-Box .createNew {
    padding: 0.6rem;
    font-size: large;
    background-color: #88b916;
    border: none;
    border-radius: 16px 0px;
    transition: background-color 1s ease;
}

.container .newacc-Box .createNew a {
    color: white;
    text-decoration: none;
    transition: color 1s ease;
}

.container .newacc-Box .createNew:hover {
    background-color: rgb(240, 229, 210);
    cursor: pointer;

}

.container .newacc-Box .createNew:hover a {
    color: #88b916;
}



.container .right-Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* border-left: .5px solid #161f47; */
    width: 100%;
    padding: 3rem;
}

.container .right-Box .header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    color: #88b916;
    position: absolute;
    top: 10%;
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}

.container .right-Box span {
    width: 100%;
    max-height: 600px;
}



/**/
.multidiv {
    font-size: 1.4rem;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 10rem;
    left: 0;
    padding: 0 3rem;
}

.multiText {
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}