@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    background-color: #292b2c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    opacity: 1;

}

.logo {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.buttons {
    display: none;
}

.hamburger {
    display: none;
}
.nav-Bar{
    display: flex;
    align-items: center;
}
.buttonss{
    display: flex;
    gap: 1rem;
}

.nav-Bar ul {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;

}

.nav-Bar ul li {
    display: flex;
    font-size: 17px;
    padding: 0.5rem;


}

.nav-Bar ul li a {
    display: block;
    color: whitesmoke;
    border-radius: 20rem;
    transition: 0.4s;
    padding: 6px 7px;
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.55);


}

.nav-Bar ul li a:hover {

    color: black;
    background-color: whitesmoke;

}

.nav-Bar ul li a.activee {
    color: black;
    background-color: whitesmoke;

}

button {
    font-size: 16px;
    font-weight: 500;
    padding: .5rem;
    border: none;
    background-color: rgb(25, 135, 84);
    text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);


}

button:hover {
    box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.8);
}

button a {
    color: whitesmoke;
}

.nav-Bar ul button:last-child {
    background-color: #e59019;
}

@media only screen and (max-width:1320px) {
    header {
        padding: 0 100px;
    }

}

@media only screen and (max-width:1100px) {
    header {
        padding: 1rem;
    }

}

@media only screen and (max-width:740px) {
    header {
        padding: 1rem;

    }

    .buttonss {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;

        padding: 1rem;
    }

    .register-Button {
        background-color: #e59019;
    }


    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: whitesmoke;
        margin: 6px 0;
    }

    .nav-Bar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #292b2c;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-Bar.active {
        /* Açılır kapanır menü*/
        height: 200px;
        opacity: 0.95;
    }

    .nav-Bar ul {
        flex-direction: column;

    }

    .nav-Bar ul li {
        font-size: larger;
    }



}