@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#4070f4;
    
}
.register_form_main{ /* Ana kutu - Form*/
    
    
    max-width: 600px;
    max-height: 1020px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;

    background-color:white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.55);
    flex-direction: column;
    
    
}
.header{    /*Ana Başlık*/
    display: flex;
    justify-content: center;
    font-size:xx-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 2rem;
    
    
    
}
.user_details{ /*Ana başlık dışındaki label ve input kutularını kapsar*/
   padding: 1rem;
    
    
}
.input_field{ /*Label ve input kutularını kapsar*/
    margin-bottom: 15px;
    display: flex; /* Display flex silinerek farklı bir görünüm kullanılabilinir fakat max form height arttırılmalı */
    align-items: center;
   
}
.input_field label{
    width: 100%;
    
    
    
}
.input_field input{
    width: 100%;
    padding: 0.6rem;
    padding-left: 1rem;
    font-size:large;
    border: 1.5px solid black;
    border-radius: 7px;
    background-color: aliceblue;
}
.input_field textarea{ /* Adres için metin alanı*/
    width: 100%;
    height: 8rem;
    font-size: medium;
    padding: 0.6rem;
    border: 1.5px solid black;
    border-radius: 7px;
    background-color: aliceblue;
    resize: none;
}
.checkside{ /*Onay kutusu ve yanındaki yazıyı kapsar*/
    display:flex;
  
}

.checkside .checkbutton{ /*Onay kutusunu kapsayan label sınıfı - ortalanması için*/
    width: 5%;
    display: flex;
    align-items: center;
    
}
.checkside .checkbutton input{/*Onay kutusunun kendisi*/
    
    width: 1rem;
    height: 1rem;
    

}
.checkside .textA {/* Agreed to terms and conditions*/
    width: 100%;
    font-size: 1rem;
    
    

}
.registerbuton{
    padding:0.5rem;
    margin-top: 2rem;
    display: flex;
    
}
.registerbuton input{
    margin: 1rem auto;
    width: 70%;
    padding: 0.5rem;
    font-size:x-large;
    border: 1.5px solid black;
    border-radius: 7px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
    background-color: #34495E;
    color: #f0f8ff;
    cursor: pointer;
    
}
.registerbuton input:hover{
    box-shadow:inset 3px 4px 5px rgba(0, 0, 0, 1.20);
}
.loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0.5rem;
    gap: 0.4rem;
    
}
.loginpage a{
    text-decoration: none;
    color:#4070f4;

}
