*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    width: 37.5rem;
    height: 56.25rem;
    padding: 2rem;
    background-color: #ebe5e5;
}

.second-form {
    width: 37.5rem;
    height: 56.25rem;
    border: 1px solid #ccc;
    position: relative;
    border-style: none;
}

.form-inside {
    height: 100%;
}

.form-inside img {
    position: absolute;
    filter: blur(2px);
}

.title {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    padding: 10rem 24px;
    font-size: 25px;
    word-wrap: break-word;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.title h1 {
    text-align: center;
    margin-bottom: 5rem;
}

.multidiv {
    font-size: 1.4rem;
    word-wrap: break-word;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.multiText {
    word-wrap: break-word;
    color: #fff;
}

.insideform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.logo {
    width: 13rem;
    height: 13rem;
    margin-bottom: 30px;
    border-radius: 50%;
    transition: all 1.2s linear;
}

.logo img {
    border-radius: 50%;
}

.logo:hover {
    /* transform: rotateY(180deg);
    -webkit-transform: rotateY(.5); */
    transform: rotate(-360deg);
}

.please {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.please span {
    font-size: medium;
    color: black;
}

.welcome {
    font-size: x-large;
    text-align: center;
    font-weight: 650;
    margin-bottom: 30px;

}

.entryarea {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    height: 3rem;
    display: flex;
}

.icon {
    position: absolute;
    right: 15px;
    margin-left: 90%;
    margin-top: 6px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1111;
}

.entryarea input {
    position: absolute;
    width: 100%;
    height: 3rem;
    outline: none;
    border: 2px solid black;
    padding-left: 10px;
    z-index: 1111;
    background-color: transparent;
    border-radius: 8px;
}

.labelline {

    position: absolute;
    padding: 0 20px;
    margin-top: 10px;
    color: black;
    font-size: large;
    transition: 0.2s ease;

}

input:focus,
input:valid {
    color: #80471c;
    border: 4px solid #80471c;

}

input:focus+.labelline,
input:valid+.labelline {
    color: #80471c;
    padding: 0 5px;
    transform: translate(3px, -24px) scale(0.88);
    z-index: 1111;
    background-color: #ebe5e5;
}

.remember {
    width: 100%;
    height: 1rem;
    margin-bottom: 30px;
    color: #757575;
}

.remember input {
    width: 20px;
    height: 20px;

}

.login {
    width: 100%;
    margin-bottom: 30px;
}

.login input {
    transition: 0.2s ease-in;
    background-color: #80471c;
    color: wheat;
    width: 100%;
    border: 1px solid #ccc;
    height: 2.5rem;
    text-align: center;
    margin: 0 auto;
    font-size: larger;
}

.login input:hover {
    background-color: wheat;
    color: #80471c;

}

.forgot {
    margin-bottom: 5rem;
}

.forgot span a {
    text-decoration: none;
    color: #757575;
    font-size: larger;
}

.forgot:hover {
    text-decoration: underline;
}

.register span {
    font-size: larger;
    margin-right: 16px;
    font-weight: 600;
}

.register input {
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    color: antiquewhite;
    background-color: #80471c;
}

.register input:hover {
    background-color: antiquewhite;
    color: #80471c;
    transition: 0.3s ease-in;


}

.register input:not(:hover) {
    transition: 0.3s ease-out;

}