* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    background-position: center;
}

/* video {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
} */

/*İKİ FORMU KAPSAYIP TEK FORM YAPMAK İSTERSEK */
.forms {
    display: flex;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    backdrop-filter: blur(5px);
}

/*SOL TARAFA BACKGROUND EKLEME */
.form {
    width: 50%;
    padding: 2rem;
    border-right: 5px solid antiquewhite;
}

.second-form {
    width: 50%;
    position: relative;
    border-style: none;

}

/*SAĞ TARAFA BACKGROUND EKLEME */
.form-inside {
    height: 100%;
    /* background-image: url(./images/5.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    filter: blur(5px);
    backdrop-filter: blur(5px); */

}

.form-inside img {
    position: absolute;
    filter: blur(2px);
}

.title {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    padding: 10rem 24px;
    font-size: 25px;
    word-wrap: break-word;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.title h1 {
    text-align: center;
    margin-bottom: 5rem;
}

.multidiv {
    font-size: 1.4rem;
    word-wrap: break-word;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.multiText {
    word-wrap: break-word;
    color: #fff;
}

.insideform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
}

.logo {
    width: 13rem;
    height: 13rem;
    margin-bottom: 30px;
    border-radius: 50%;
    transition: all 1.2s linear;
}

.logo img {
    border-radius: 50%;
}

.logo:hover {
    transform: rotate(360deg);
}

.please {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.please span {
    font-size: medium;
    color: antiquewhite;
}

.welcome {
    font-size: x-large;
    text-align: center;
    font-weight: 650;
    margin-bottom: 30px;

}

.welcome span {
    color: antiquewhite;
}

.entryarea {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    height: 3rem;
    display: flex;
}

.icon {
    position: absolute;
    right: 14px;
    margin-top: 3px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1111;
}

.icon img {
    width: 40px;
    height: 40px;
}

.entryarea input {
    position: absolute;
    width: 100%;
    height: 3rem;
    outline: none;
    border: 2px solid antiquewhite;
    padding-left: 10px;
    z-index: 1111;
    background-color: transparent;
    border-radius: 8px;
}

.labelline {

    position: absolute;
    padding: 0 20px;
    margin-top: 10px;
    color: antiquewhite;
    font-size: large;
    transition: 0.2s ease;

}

input:focus,
input:valid {
    color: antiquewhite;
    border: 4px solid antiquewhite;

}

input:focus+.labelline,
input:valid+.labelline {
    color: white;
    padding: 0 5px;
    transform: translate(3px, -24px) scale(0.88);
    z-index: 1111;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.remember {
    width: 100%;
    height: 1rem;
    margin-bottom: 30px;
    color: antiquewhite;
}

.remember input {
    width: 15px;
    height: 15px;
}

.login {
    width: 100%;
    margin-bottom: 30px;
}

.login input {
    transition: 0.2s ease-in;
    background-color: antiquewhite;
    color: #000;
    width: 100%;
    border: 1px solid #000;
    height: 2.5rem;
    text-align: center;
    margin: 0 auto;
    font-size: larger;
}

.login input:hover {
    background-color: wheat;
    color: #80471c;

}

.forgot {
    margin-bottom: 5rem;
}

.forgot span a {
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
}

.forgot:hover {
    text-decoration: underline;
}

.register span {
    font-size: larger;
    margin-right: 16px;
    font-weight: 600;
    color: antiquewhite;
}

.register input {
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    color: #000;
    background-color: antiquewhite;
}

.register input:hover {
    background-color: wheat;
    color: #80471c;
    transition: 0.3s ease-in;


}

.register input:not(:hover) {
    transition: 0.3s ease-out;

}