@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

html,
body {
    display: flex;
    justify-content: center;
    flex-shrink: inherit;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url(./images/3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    width: 25%;
    padding: 2rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #80471c;
    background-color: #fff;
}

.history {
    width: 25%;
    padding: 2rem;
    height: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.ihistory {
    width: 100%;
    height: auto;
    margin-top: -1rem;
}

.title {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #80471c;
}

.story p {
    font-size: 20px;
    line-height: 2rem;
    word-wrap: break-word;
    color: #80471c;
}

.insideform {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.logo {
    background-color: #80471c;
    width: 10rem;
    height: 10rem;
    margin-bottom: 30px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.logo:hover {
    transform: scale(.5);
    -webkit-transform: scale(.5);
    /*transform: rotateY(180deg);
    -webkit-transform: rotateY(.5);*/
    background-color: wheat;
}

.please {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.please span {
    font-size: medium;
}

.welcome {
    font-size: x-large;
    text-align: center;
    font-weight: 650;
    margin-bottom: 30px;

}

.entryarea {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    height: 3rem;
    display: flex;
}

.icon {
    position: absolute;
    right: 15px;
    margin-left: 90%;
    margin-top: 6px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1111;
}

.entryarea input {
    position: absolute;
    width: 100%;
    height: 3rem;
    outline: none;
    border: 2px solid black;
    padding-left: 10px;
    z-index: 1111;
    background-color: transparent;
    border-radius: 8px;
}

.labelline {

    position: absolute;
    padding: 0 20px;
    margin-top: 10px;
    color: black;
    font-size: large;
    transition: 0.2s ease;

}

input:focus,
input:valid {
    color: #80471c;
    border: 4px solid #80471c;

}

input:focus+.labelline,
input:valid+.labelline {
    color: #80471c;
    padding: 0 5px;
    transform: translate(3px, -24px) scale(0.88);
    z-index: 1111;
    background-color: rgb(255, 255, 255);
}

.remember {
    width: 100%;
    height: 1rem;
    margin-bottom: 30px;
    color: #757575;
}

.remember input {
    width: 20px;
    height: 20px;

}

.login {
    width: 100%;
    margin-bottom: 30px;
}

.login input {
    transition: 0.5s ease-in;
    background-color: #80471c;
    color: wheat;
    width: 100%;
    border: 1px solid #ccc;
    height: 2.5rem;
    text-align: center;
    margin: 0 auto;
    font-size: larger;
}

.login input:hover {
    background-color: wheat;
    color: #80471c;

}

.forgot {
    margin-bottom: 5rem;
}

.forgot span a {
    text-decoration: none;
    color: #757575;
    font-size: larger;
}

.register span {
    font-size: larger;
    margin-right: 16px;
    font-weight: 600;
}

.register input {
    width: 10rem;
    height: 3rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    color: wheat;
    background-color: #80471c;

}