@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  /* background: linear-gradient(135deg, #3F0110, #4B0B0D, #5B1F07,#6F3203,#7B3E00); */
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 700px;
  width: 80%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.55);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 150px;
  border-radius: 5px;
  background: linear-gradient(135deg, #bb571e, #fcdc8b, #723512, #bdb98d, #dfd3b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 1s ease;
}

form .gender-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  margin: 1rem;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 600;
}

form .category {
  display: flex;
  width: 100%;

  justify-content: space-evenly;
}

form .category label {
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

.gender-details #dot {
  display: none;
}

form .addressline {
  width: 100%;
}

form .addressline .address-title {
  font-size: 18px;
}

form .addressline textarea {
  width: 100%;
  min-height: 8rem;
  padding: .8rem;
  margin-bottom: .5rem;
  font-size: 18px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-break: break-all;
  resize: none;
  line-height: 28px;
  transition: all 1s ease;
}


form .checkside .checkbutton input {
  width: 15px;
  height: 15px;

}

form .button {
  display: block;
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #bb571e, #fcdc8b, #723512, #bdb98d, #dfd3b6);
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.55);
}

form .reminder {
  width: 100%;
  padding: 0.4rem;

}

form .reminder .loginpage {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  gap: 0.4rem;
}

form .reminder .loginpage a {
  font-size: large;
  text-decoration: none;
  color: #F4D03F;
  text-shadow: 1px 1px 0.5px black;

}

form .reminder .loginpage a:hover {
  text-decoration: underline;
}


@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.activeInput {
  border: 1px solid #88b916 !important;
}

.unActiveInput {
  border: 1px solid red !important;
}

.giveInfo {
  transition: color 1s ease;
  font-size: 14px;
}

.textA {
  cursor: pointer;
}