* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/8.jpg');
    background-size: cover;
    z-index: -1;
}