@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;600;700&family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: overlay;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    /* height: 100vh; */
}

#back-to-top-btn {
    display: none;
    /* Başlangıçta butonu gizle */
    position: fixed;
    /* Sayfada her zaman aynı konumda kalması için */
    bottom: 50px;
    /* Sayfanın altından 20 piksel yukarıda olacak şekilde konumlandır */
    right: 50px;
    /* Sayfanın sağ tarafında konumlandır */
    z-index: 99;
    /* Diğer öğelerin üzerinde görünmesini sağlar */
    font-size: 25px;
    /* Ok karakterinin boyutu */
    border: none;
    /* Kenarlık olmadan */
    outline: none;
    /* Odak noktası olmadan */
    background-color: #88B916;
    ;
    /* Arkaplan rengi */
    color: floralwhite;
    /* Yazı rengi */
    cursor: pointer;
    /* Fare imlecini el gösterisine dönüştürür */
    padding: 10px;
    /* Kenar boşluğu */
    border-radius: 50%;
    /* Yuvarlak köşeler */
    transition: opacity 0.2s ease-in-out;
    /* Geçiş efekti */
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#back-to-top-btn:hover {
    opacity: 0.8;
    /* Fare üzerine gelince hafifçe opaklık ayarla */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding: 0.1rem;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    top: 0;
    position: fixed;
    background-color: floralwhite;
    z-index: 3;
    box-shadow: 0 0 20px 2px #88B916;

}

.navbar .leftmenu,
.navbar .rightmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.navbar .leftmenu div:first-child a {
    color: #88B916;


}

.navbar .mainheader {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28rem;
}

.navbar .mainheader .header {

    font-size: 30px;
    color: #88B916;
}

.navbar a {
    text-decoration: none;
}


@media(max-width:1100px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        overflow: hidden;
        flex-direction: column;
        padding: 0;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border-top: 1px solid grey;
        padding: .5rem 0;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        display: block;
    }

    .navbar-links li:not(:last-child) a::after {
        display: none;
    }

    .brand-title {
        padding: .5rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .upbot {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 3rem;
    justify-content: space-evenly;
    margin: 10rem auto;
}

.anadiv {
    width: 200px;
    height: 300px;
    padding: 4px 4px 8px 4px;
    border-radius: 5px;
    border-style: outset;
    margin-bottom: 1.5rem;
    position: relative;
}

.fotodiv {
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.fotodiv img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.yazılardiv {
    font-size: small;
    position: absolute;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    word-wrap: break-word;
    width: 175px;
}

.yazılardiv>span:nth-child(1) {
    font-size: 1rem;
    font-family: 'Comme', sans-serif;

}

.yazılardiv>span:nth-child(2),
.price {
    /* price */
    color: #16a085;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;

}

.yandiv {
    position: absolute;
    width: 40px;
    right: -20px;
    bottom: 35px;

}

.add {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 1.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

}

.add {
    position: relative;

}

.add img {
    position: absolute;
    width: 90%;
}