@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: overlay;
}

body {
    margin: 0;
    padding: 0;
}

#back-to-top-btn {
    display: none;
    /* Başlangıçta butonu gizle */
    position: fixed;
    /* Sayfada her zaman aynı konumda kalması için */
    bottom: 50px;
    /* Sayfanın altından 20 piksel yukarıda olacak şekilde konumlandır */
    right: 50px;
    /* Sayfanın sağ tarafında konumlandır */
    z-index: 99;
    /* Diğer öğelerin üzerinde görünmesini sağlar */
    font-size: 16px;
    /* Ok karakterinin boyutu */
    border: none;
    /* Kenarlık olmadan */
    outline: none;
    /* Odak noktası olmadan */
    background-color: #88B916;
    ;
    /* Arkaplan rengi */
    color: floralwhite;
    /* Yazı rengi */
    cursor: pointer;
    /* Fare imlecini el gösterisine dönüştürür */
    border-radius: 8%;
    /* Yuvarlak köşeler */
    transition: opacity 0.2s ease-in-out;
    /* Geçiş efekti */
    width: 120px;
    height: 40px;
}

#back-to-top-btn:hover {
    opacity: 0.8;
    /* Fare üzerine gelince hafifçe opaklık ayarla */
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    background-image: url("../images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.content {
    position: relative;
    z-index: 1;
    display: grid;
    row-gap: 50px;
    background-color: transparent;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding: 0.1rem;
    gap: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    top: 0;
    position: fixed;
    background-color: rgb(255, 250, 240);
    z-index: 3;
    box-shadow: 0 0 20px 2px #88B916;

}

.button {
    cursor: pointer;
}

.navbar .leftmenu,
.navbar .rightmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.navbar .leftmenu div:first-child a {
    color: #88B916;


}

.navbar .mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .mainheader .header {
    font-size: 30px;
    color: #88B916;
}

a {
    text-decoration: none;
    color: black;
}

.navbarAltıContent {
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    z-index: 2;
    /* top: 400%; */
    left: 0;
    top: 6.2rem;
}

.welcomeDiv {
    width: 100%;
    background-color: white;
    padding: 2rem 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161F47;
}

.welcomeDivLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    row-gap: 3rem;

}

.welcomeDivLeft span {
    color: wheat;
    font-size: 28px;
}

.welcomeDivLeft p {
    width: 100%;
    line-height: 1.8rem;
    font-size: 16px;
    font-weight: 600;
    color: white;

}

.welcomeDiv img {
    width: 20%;
}

.franchising {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem 16rem;
    background-color: #161f4793;
    color: white;
    border-bottom: 1px solid #ccc;
}

.francLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: .5rem;
    row-gap: 1.5rem;
}

.francLeft h3 {
    font-size: 2rem;
}

.francLeft span {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.franchising button {
    width: 250px;
    padding: 1rem 1.5rem;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    transition: all .8s ease;
    background-image: linear-gradient(to left, #161f4793 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.franchising button:hover {
    cursor: pointer;
    color: #161F47;
    background-position: left bottom;
}

.containerAbout {
    width: 100%;
    background-color: #cecfcf;
}

.aboutUs {
    display: flex;
    margin: 2rem 16rem;
    justify-content: space-between;

}

.aboutLeft,
.aboutRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    row-gap: 1.2rem;
}

.aboutLeft img,
.aboutRight img {
    height: auto;
    max-width: 70%;
}

.aboutLeft p,
.aboutRight p {
    line-height: 1.4rem;
    font-size: 22px;
    color: #7a7a7a;
}

.aboutRight h3 {
    text-align: center;
    font-size: 60px;
    color: #202c60;
}

.openclosecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background: white;
    row-gap: 4rem;
}

.openclosecontainer div:first-child {
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 600;
    color: #202c60;
    text-align: center;
}

.blueDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: aqua;
    transition: all 1s ease;
}

.blueDiv:hover {
    width: 100%;
    border-radius: 16px;
    position: relative;
}

.blueDiv:hover .leftSide {
    display: block;
    opacity: 1;
    left: 16rem;
    transition: left 1s ease, opacity 2s ease-in-out;
}

.blueDiv .leftSide {
    /* display: block; */
    position: absolute;
    left: -15rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    opacity: 0;
    transition: left 1s ease, opacity 1s ease;
}

.leftSide p:first-child {
    font-size: 20px;
}

.leftSide p:last-child {
    font-size: 30px;
}

.leftSide div {
    color: #000;
    font-size: 15px;
    line-height: 1.6;
}

.blueDiv .imgDiv img {
    max-width: 200px;
    max-height: 350px;
    border-radius: 8px;
    transition: all 1s ease;
}



.blueDiv:hover .imgDiv img {
    max-width: 300px;
    height: 355px;
    right: 16rem;
    background: #161F47;
    transform: translateX(170%);
    transition: transform 1s ease;
}

/*.blueDiv .imgDiv{
    display: none;
    max-width: 300px;
    height: 355px;
    position: absolute;
    right: 16rem;
    top: -10%;
    background: #161F47;
} */


/* 
//////////////////////////////////////////////////////////////////////////
.tanıtım {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 8rem;
}

.tanıtım span {
    font-size: 24px;
    width: 30%;
    word-wrap: break-word;
}

.tanıtım div {
    color: #88B916;
    font-size: 32px;
}

.tanıtım2 {
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88b91654;
}

.tanitim2left {
    width: 30%;
    word-wrap: break-word;
}


.baslik {
    width: 100%;
    word-wrap: break-word;
    font-size: 32px;
    color: #88B916;
}

.tanıtım2 span {
    font-size: 24px;
}

.imgDiv {
    width: 30%;
    background-color: #88B916;
    height: 100%;
}

.tanıtım3 {
    width: 100%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tanitim3left {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

}

.leftimg3 {
    width: 60%;
    height: 70%;
    background-color: #88B916;
}

.lefttext3 {
    word-wrap: break-word;
}

.baslik3 {
    font-size: 24px;
    color: #88B916;
    text-align: center;
}

.text3 {
    text-align: center;
    word-wrap: break-word;
}

.imgDiv3 {
    width: 60%;
    height: 70%;
    background-color: #88B916;
} 
//////////////////////////////////////////////////////////////////////////
*/

/*
@media(max-width:1100px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        overflow: hidden;
        flex-direction: column;
        padding: 0;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border-top: 1px solid grey;
        padding: .5rem 0;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        display: block;
    }

    .navbar-links li:not(:last-child) a::after {
        display: none;
    }

    .brand-title {
        padding: .5rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .upbot {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .leftbot {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .spans {
        padding: 0.5rem 0 !important;
    }

    .left,
    .right {
        border-left: 1px dashed green;
        border-right: 1px dashed green;
    }
}

@media screen and (max-width:550px) {
    .footerbot {
        padding: 0 !important;
    }
}

.swiper {
    width: 100%;
    height: 35vh;

}


.swiper-wrapper {
    width: 30%;
    position: relative;
}

.swiper-slide img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: bisque;
}

.swiper .swiper-pagination-bullet-active {
    background-color: rgb(252, 8, 0);
}

.botside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.upbot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
    margin-top: 5%;
}

.footerbot {
    position: fixed;
    bottom: 0;
    background-color: floralwhite;
    box-shadow: 2px 0 20px 0 #88B916;
    width: 100%;
    border-top: 1px solid #828282;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    padding: .5rem;
}

.footerbot h5 {
    color: #c1c1c1;
    font-size: 14px;

}

.footerbot h5::after {
    content: "444 MADO";
    color: #828282;
    font-size: large;
}

.left,
.center,
.right {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.center {
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
}

.ltitle,
.ctitle,
.rtitle {
    font-size: 1.5rem;
    color: #c1c1c1;
    margin-bottom: .5rem;
}

.ltitle::after {
    content: " Yaşam";
    color: #828282;
}

.ctitle::after {
    content: " Mado";
    color: #828282
}

.rtitle::after {
    content: " Bu Güne";
    color: #828282;
}

.upbot .image:first-child {
    margin-left: 1rem;
}

.image img {
    object-fit: cover;
    width: 100%;
    width: 13rem;
    height: 7rem;
}

.spans {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #828282;
    padding: .5rem;
}

.spans span:last-child {
    width: 200px;
    word-wrap: break-word;
    padding-top: 5px;
    font-size: 12px;
    color: #828282;
}

.leftbot {
    display: flex;
}

.social {
    display: flex;
}

.svg {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    margin: 6px;
}


.backgroundImage {
    width: 100%;
    height: 100vh;
    position: relative;

}

.backgroundImage img {
    width: 100%;
    z-index: 2;
    position: relative;
} */