@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Oswald:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&family=Source+Serif+Pro:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    overflow: overlay;
}

body {
    margin: 0;
    padding: 0;
}

#back-to-top-btn {
    display: none;
    /* Başlangıçta butonu gizle */
    position: fixed;
    /* Sayfada her zaman aynı konumda kalması için */
    bottom: 50px;
    /* Sayfanın altından 20 piksel yukarıda olacak şekilde konumlandır */
    right: 50px;
    /* Sayfanın sağ tarafında konumlandır */
    z-index: 99;
    /* Diğer öğelerin üzerinde görünmesini sağlar */
    font-size: 16px;
    /* Ok karakterinin boyutu */
    border: none;
    /* Kenarlık olmadan */
    outline: none;
    /* Odak noktası olmadan */
    background-color: #88B916;
    ;
    /* Arkaplan rengi */
    color: floralwhite;
    /* Yazı rengi */
    cursor: pointer;
    /* Fare imlecini el gösterisine dönüştürür */
    border-radius: 20rem;
    /* Yuvarlak köşeler */
    transition: opacity 0.2s ease-in-out;
    /* Geçiş efekti */
    width: 120px;
    height: 40px;
}

#back-to-top-btn:hover {
    opacity: 0.8;
    /* Fare üzerine gelince hafifçe opaklık ayarla */
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: relative;
    z-index: 1;
    display: grid;
    row-gap: 50px;
    background-color: transparent;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding: 0.1rem;
    gap: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    top: 0;
    position: fixed;
    background-color: rgb(255, 250, 240);
    z-index: 3;
    box-shadow: 0 0 20px 2px #88B916;
}

.button {
    cursor: pointer;
}

.navbar .leftmenu,
.navbar .rightmenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
}

.rightmenu {
    min-width: 263.05px;
}

.navbar .leftmenu div:first-child a {
    color: #88B916;
}

.navbar .mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .mainheader .header {
    font-size: 30px;
    color: #88B916;
}

a {
    text-decoration: none;
    color: black;
}

.navbarAltıContent {
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
    z-index: 2;
    /* top: 400%; */
    left: 0;
    top: 6.2rem;
}

.welcomeDiv {
    width: 100%;
    background: linear-gradient(#faf7f5, #FFE4D7);
    animation: gradientAnimation 5s ease-in-out infinite alternate;
    padding: 5rem 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.welcomeDivLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    row-gap: 3rem;
    font-family: 'Roboto', sans-serif;
}

#welcomeDivRight {
    width: 300px;
    height: 300px;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    position: absolute !important;
    left: 50%;
    transform: translate(-50%);
}

.swiper-pagination {
    --swiper-pagination-color: #88b916;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


.welcomeDivLeft span {
    color: #88B916;
    font-size: 28px;
}

.welcomeDivLeft p {
    width: 100%;
    line-height: 1.8rem;
    font-size: 16px;
    font-weight: 600;
    color: black;

}

.franchising {
    width: 100%;
    min-height: 430px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5rem 20%;
    background-color: #161f4793;
    color: white;
}

.francLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: .5rem;
    row-gap: 1.5rem;
    font-family: 'Roboto', sans-serif;

}

.francLeft h3 {
    font-size: 2rem;
}

.francLeft span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3rem;
}

.franchising button {
    width: 186px;
    padding: 15px 25px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: white;
    background-color: transparent;
    color: white;
    font-size: 14px;
    transition: all .8s ease;
    background-image: linear-gradient(to left, #161f4793 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.franchising button:hover {
    cursor: pointer;
    color: #161F47;
    background-position: left bottom;
}

.containerAbout {
    width: 100%;
    background: linear-gradient(#FFE4D7, #E7F5FF);
    animation: gradientAnimation 5s ease-in-out infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.aboutUs {
    display: flex;
    margin: 2rem 15%;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.aboutLeft,
.aboutRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    row-gap: 1.2rem;
}

.aboutLeft img {
    width: 90%;
    height: 675px;
    object-fit: cover;
    border: none;
    vertical-align: middle;
}

.aboutRight img {
    width: 486px;
    height: 560px;
    border-radius: 35%;
    object-fit: cover;
    border: none;
    vertical-align: middle;
}

.aboutLeft p,
.aboutRight p {
    font-size: 16px;
    line-height: 1.4rem;
    font-family: 'Source Serif Pro', serif;
    color: #7A7A7A;
}

.aboutRight div {
    text-align: center;
    font-size: 50px;
    color: #202c60;
    font-family: 'Oswald', sans-serif;
}

.openclosecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background: white;
    row-gap: 4rem;
    font-family: 'Roboto', sans-serif;
}

.openclosecontainer div:first-child {
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 600;
    text-align: center;
    color: #88B916;
}

.blueDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #202c60;
    transition: all 1s ease;
}

.blueDiv:hover {
    width: 100%;
    border-radius: 0;
}


.blueDiv .leftSide {
    /* display: block; */
    position: absolute;
    left: -15rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    opacity: 0;
    transition: left 1s ease, opacity .5s ease;
}

.blueDiv:hover .leftSide {
    display: block;
    opacity: 1;
    left: 16rem;
    transition: left 1s ease, opacity 2s ease;
}

.leftSide p:first-child {
    font-size: 20px;
    color: #88B916;
}

.leftSide p:last-child {
    font-size: 30px;
    color: #88B916;
}

.leftSide div {
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

.blueDiv .imgDiv {
    position: absolute;
    top: -3rem;
    right: 3rem;
    max-width: 250px;
    max-height: 360px;
    border-radius: 8px;
    transition: right 1s ease, width 1s ease, top 1s ease;
}

.blueDiv .imgDiv img {
    width: 100%;
    border-radius: 8px;
    transition: right 1s ease, width 1s ease;
}

.blueDiv:hover .imgDiv {
    top: -6rem;
    position: absolute;
    display: block;
    right: 16rem;
    transition: right 1s ease, top 1s ease;
}

.blueDiv:hover .imgDiv img {
    width: 120%;
    transition: width 1s ease, top 1s ease;
}

.footer {
    width: 100%;
    background-color: #161F47;
    opacity: 0.9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 4rem 0;
}

.footer .box {
    width: 800px;
    height: 100%;
    margin: auto;
    background-color: #161F47;
}

.footer .top-box {
    display: flex;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
    padding: 10px;
    margin-bottom: 3rem;
}

.footer .top-box .left-header {
    width: 50%;
    font-size: 24px;
    font-weight: 700;
}

.footer .top-box .right-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    text-align: end;
}

.footer .top-box .right-icons .icon img {
    width: 30px;
    margin-right: 15px;
}

.footer .box .others-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .box .others-box ul {
    max-width: 10rem;
    list-style: none;
    font-size: larger;
    font-weight: 800;
}

.footer .box .others-box ul li:first-child {

    font-size: larger;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer .box .others-box ul li:not(:first-child) {
    font-size: medium;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.38);
    cursor: pointer;

}

.footer .box .others-box ul li:hover {
    color: white;
    transition: color 0.3s ease-in-out;
}