@import url('https://fonts.googleapis.com/css2?family=Comme:wght@400;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: overlay;
}

body {
    margin: 0;
}

.container {
    width: 60%;
    margin: 10rem auto;
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

#back-to-top-btn {
    display: none;
    /* Başlangıçta butonu gizle */
    position: fixed;
    /* Sayfada her zaman aynı konumda kalması için */
    bottom: 50px;
    /* Sayfanın altından 20 piksel yukarıda olacak şekilde konumlandır */
    right: 50px;
    /* Sayfanın sağ tarafında konumlandır */
    z-index: 99;
    /* Diğer öğelerin üzerinde görünmesini sağlar */
    font-size: 16px;
    /* Ok karakterinin boyutu */
    border: none;
    /* Kenarlık olmadan */
    outline: none;
    /* Odak noktası olmadan */
    background-color: #88B916;
    ;
    /* Arkaplan rengi */
    color: floralwhite;
    /* Yazı rengi */
    cursor: pointer;
    /* Fare imlecini el gösterisine dönüştürür */
    border-radius: 20rem;
    /* Yuvarlak köşeler */
    transition: opacity 0.2s ease-in-out;
    /* Geçiş efekti */
    width: 120px;
    height: 40px;
}

#back-to-top-btn:hover {
    opacity: 0.8;
    /* Fare üzerine gelince hafifçe opaklık ayarla */
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding: 0.1rem;
    gap: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    top: 0;
    position: fixed;
    background-color: floralwhite;
    z-index: 3;
    box-shadow: 0 0 20px 2px #88B916;

}

.navbar .leftmenu,
.navbar .rightmenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
}

.rightmenu {
    min-width: 263.05px;
}

.navbar .leftmenu div:first-child a {
    color: #88B916;


}

.navbar .mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .mainheader .header {

    font-size: 30px;
    color: #88B916;
}

a {
    text-decoration: none;
    color: black;
}

@media(max-width:1100px) {
    body {
        overflow: scroll;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        overflow: hidden;

        padding: 0;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        border-top: 1px solid grey;
        padding: .5rem 0;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        display: block;
    }

    .navbar-links li:not(:last-child) a::after {
        display: none;
    }

    .brand-title {
        padding: .5rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .upbot {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .container {
        width: 90%;
    }
}

.basketFont {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: .8rem;
    padding: .5rem 0;
    color: #333;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.emptyBasket>img {
    width: 5%;
}

.emptyBasket {
    border: 1px solid gray;
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}

.emptyBasket>button {
    background-color: #88B916;
}

.emptyBasket>span {
    font-size: 18px;
    font-family: sans-serif;
}


.startShoppingButton {
    width: 33%;
    padding: 2% 0;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    border-style: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    background-color: #f27a1a;
    cursor: pointer;
}

#cartProducts {
    width: 70%;
    height: max-content;
}

#basket {
    width: 250px;
    display: block;
}

.cartProduct {
    width: 100%;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.leftCart {
    width: 35%;
    display: flex;
    align-items: center;
}

.productName {
    max-width: 100%;
    word-wrap: break-word;
}

.leftCart>.image {
    width: 40px;
    height: 40px;
    background-color: #88B916;
    margin-right: .5rem;
}

.buttons {
    display: flex;
}

.counter {
    width: 42px;
    user-select: none;
    height: 34px;
    font-size: 14px;
    color: #4a4a4a;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    text-align: center;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtractButton,
.addButton {
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    width: 24px;
    height: 34px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.showPrice {
    color: #88B916;
    width: 100px;
    text-align: center;
}

.trash {
    width: 20px;
    cursor: pointer;
}

.confirmBasket {
    width: 100%;
    padding: .8rem;
    text-align: center;
    color: white;
    background-color: #88B916;
    border-radius: 8px;
    border: none;
    font-size: large;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

.disabledButton {
    background-color: gray;
    transition: background-color 1s ease-in-out;
}

.orderSummary {
    width: 100%;
    height: auto;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-top: 1rem;
    line-height: 32px;
    margin-bottom: 1rem;
}

.orderSummary>h3 {
    margin-bottom: .5rem;
    text-align: center;
}

.totalProduct,
.cargoTotal {
    display: flex;
    justify-content: space-between;
}

.totalProduct>p:last-child,
.cargoTotal>p:last-child {
    color: #333333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80px;
    font-size: 14px;
    font-weight: 600;
}

.totalPrice {

    text-align: right;
    color: #88B916;
    font-size: 18px;

}

.totalPriceDom {
    border-top: 1px solid #e6e6e6;
    padding: .5rem 0 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.discountCode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 15px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    color: #333333;
}

.discountCode>img {
    width: 10%;
}

.freeCargoDom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    color: #88B916;
    margin-top: 0.5rem;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    display: none;
}

.confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    gap: 2rem;
}

.confirm .message {
    margin-bottom: 10px;
    font-size: 21px;
    color: #88B916;
    text-align: center;
}

.confirm .buttons {
    text-align: center;
    justify-content: center;
}

.confirm .buttons button {
    margin: 0 5px;
    padding: .5rem 1rem;
    background-color: #88B916;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid #ccc;
}